.tbl1{
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
}

.form-control1{
    font-size: 13px;
    font-weight: bolder;
}

th{
    font-size: 10px;
    background-color:#222b3d;
    color:#fff
}
tr{
    text-align: center;
    font-weight: bold;
    height: 10px;
    padding: -10px;
}

td{
    padding: -10px;
}

.th1{
    width: 90px;
}

/* #add_others{
    display: none;
} */
