#dcb{
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  border: 1px solid #AAAAAA;
  font-family: Arial, Helvetica, sans-serif;
}
#dcb td, #dcb th {
  border: 1px solid #AAAAAA;
  padding: 3px 5px;
}

#body td{
  border: 1px solid #AAAAAA;
  text-align: center;
}

#head {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
#dcb thead th {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}
#dcb thead th:first-child {
  border-left: none;
}
#body .t_right{
  text-align: right;
  padding-right: 150px;
}
.t_center{
  text-align: center;
}


#total{
  background-color: rgb(218, 134, 75)
}

#t-right{
  text-align: right;
}

#dcb #t-center{
  text-align: center;
}

